<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/" method="post">
    {% csrf_token %}
    {{ signupform }}
    <input type="submit" class="send" />
</form>
</body>
</html>