<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
</head>
<body>
WELCOME, {{ username }} !
<br>
<!-- TODO: Nice Email! {{ email }}.. :)-->
<br><br>
<button id="delete_button">Delete profile?</button>
    <script>username = "{{username}}";</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'core/delete.js' %}"></script>
</body>
</html>